Repository clarkewing/agepac.org-members, pull requests merged in 2020-05, with the labels that each got.

#23 Fixed purify config to support del for trix editor
  config/purify.php
  tests/Unit/PostTest.php
Labels: under-review

#25 Added unmark best reply logic
  app/Http/Controllers/BestPostsController.php
  app/Thread.php
  resources/js/components/Post.vue
  routes/web.php
  tests/Feature/BestPostTest.php
  tests/Unit/NamedRouteTest.php
Labels: enhancement, javascript, php

#27 Fixed trix removal of underline style
  resources/js/components/Wysiwyg.vue
Labels: bug, javascript, under-review

#32 Add ability to view and edit account details
  app/Http/Controllers/AccountController.php
  app/Providers/AppServiceProvider.php
  resources/lang/en/validation.php
  resources/lang/fr/validation.php
  resources/views/account/edit.blade.php
  resources/views/layouts/navbar.blade.php
  routes/web.php
  tests/Feature/AccountTest.php
  tests/Unit/NamedRouteTest.php
Labels: enhancement, php
